<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
        <div class="navbar-brand">Ali Orlando</div>
        {% if site.data.navigation %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    {% for nav_hash in site.data.navigation %}
                    {% assign nav_item = nav_hash[1] %}
                    {% if nav_item.path == page.path %}
                        {% assign active = true %}
                    {% else %}
                        {% assign active = false %}
                    {% endif %}
                    <li class="nav-item{% if active %} active{% endif %}">
                        <a class="nav-link" href="{{nav_item.path}}">{{nav_item.title}}{% if active %} <span class="sr-only">(current)</span>{% endif %}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
</nav>
